In [1]:
import pandas as pd
from scipy.stats import pearsonr
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('general_data.csv').dropna()

In [3]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [4]:
df["Attrition"].replace(to_replace = ("No","Yes"),value =(0,1),inplace=True)

In [6]:
df["BusinessTravel"].replace(to_replace = ("Non-Travel","Travel_Rarely","Travel_Frequently"),value = (0,1,2),inplace=True)

In [11]:
#df["Attrition"].replace(to_replace = ("Female","Male"),value =(0,1),inplace=True)

In [12]:
df.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,1,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,1,2,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,0,2,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,0,0,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,0,1,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [13]:
df.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [14]:
df_1 = df[['Age', 'Attrition', 'BusinessTravel',  'DistanceFromHome',
        'EducationField', 'Gender',
        'JobRole', 'MonthlyIncome',
       'NumCompaniesWorked', 'PercentSalaryHike', 'StandardHours',
        'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager']]

In [15]:
df_1.head()

,Age,Attrition,BusinessTravel,DistanceFromHome,EducationField,Gender,JobRole,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,1,6,Life Sciences,Female,Healthcare Representative,131160,1.0,11,8,1.0,6,1,0,0
1,31,1,2,10,Life Sciences,Female,Research Scientist,41890,0.0,23,8,6.0,3,5,1,4
2,32,0,2,17,Other,Male,Sales Executive,193280,1.0,15,8,5.0,2,5,0,3
3,38,0,0,2,Life Sciences,Male,Human Resources,83210,3.0,11,8,13.0,5,8,7,5
4,32,0,1,10,Medical,Male,Sales Executive,23420,4.0,12,8,9.0,2,6,0,4

##  Correlation between Attrition and Age

In [16]:
stats,p = pearsonr(df.Attrition,df.Age)
print(stats,p)

-0.1583986795409615 5.126598219399243e-26

## Correlation between Attrition and MonthlyIncome

In [21]:
stats,p = pearsonr(df.Attrition,df.MonthlyIncome)
print(stats,p)

-0.030160293808459582 0.04589086274474114

## Correlation between Attrition and BusinessTravel

In [24]:
stats,p =pearsonr(df.Attrition,df.BusinessTravel)
stats,p

(0.12530593310428723, 8.411436982074981e-17)

## Correlation between Attrition and NumCompaniesWorked

In [35]:
stats,p =pearsonr(df.Attrition,df.NumCompaniesWorked)
stats,p

(0.04283056724471892, 0.004572057121624155)

## Correlation between Attrition and PercentSalaryHike

In [36]:
stats,p =pearsonr(df.Attrition,df.PercentSalaryHike)
stats,p

(0.033153037135465226, 0.028192446935107012)

## Correlation between Attrition and  TrainingTimesLastYear

In [37]:
stats,p =pearsonr(df.Attrition,df.TrainingTimesLastYear)
stats,p

(-0.04758573693081555, 0.0016276603635485554)

## Correlation between Attrition and YearsAtCompany

In [38]:
stats,p =pearsonr(df.Attrition,df.YearsAtCompany)
stats,p

(-0.1330026184252109, 9.476118084864852e-19)

## Correlation between Attrition and YearsSinceLastPromotion

In [39]:
stats,p =pearsonr(df.Attrition,df.YearsSinceLastPromotion)
stats,p

(-0.0314231505633079, 0.03752293607393637)

## Correlation between Attrition and YearsWithCurrManager

In [40]:
stats,p =pearsonr(df.Attrition,df.YearsWithCurrManager)
stats,p

(-0.15469153690286805, 7.105369646794048e-25)

## Correlation between Attrition and DistanceFromHome

In [43]:
stats,p =pearsonr(df.Attrition,df.DistanceFromHome)
stats,p

(-0.009448638515155983, 0.5317715668019634)